<header>
    <span> The Random Registration Page  | <%=  title %> </span>
  
    <nav>
        <a href="/"> Home </a> | 
        <a href="News"> News </a> | 
        <a href="Database"> Database  </a> | 
        <a href="Register"> Register  </a> | 
        <a href="Login"> Login  </a>
    </nav>
</header>
