<html lang="en">
<head>
   <%- include('partials/head') %>
</head>
<body>

   <%- include('partials/header') %>
    <footer>
        <%- include('partials/btn')  %>
        <marquee behavior="" direction=""> <h1> Hello there Enter your Details</h1> </marquee>
    </footer>
    
</body>
</html>