<html lang="en">
<head>
   <%- include('partials/head') %>
</head>
<body>

    <header>
        <span> The Random Registration Page  | Home </span>
    
        <nav>
            <a href="/"> Home | </a>
            <a href="News"> News | </a>
            <a href="Database"> Database | </a>
            <a href="Register"> Register | </a> 
            <a href="Login"> Login  </a>
        </nav>
    </header>

    <footer>
        <%- include('partials/btn')  %> 
        <marquee behavior="" direction=""> <h1> Hello there Enter your Details</h1> </marquee>
    </footer>
    
</body>
</html>