<html lang="en">
<head>
   
    <%- include('partials/head') %> 
</head>
<body>
     <%- include('partials/header') %> 

    <div style=" margin-top: 200px; margin-left:400px;">
        <h1> Registeration Successful</h1>
        <button style="color: black; text-align: center; margin-left: 130px;">
              <a href="Login"> Click here to Login  </a> 
        </button>

        
        <%- include('partials/btn')  %>
    </div>
  
</body>
</html>
